<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <header th:insert="~{fragments/head :: head}"></header>
    <title th:text = "#{cart}"></title>
</head>
<body>
<header th:insert="~{fragments/headerRu :: headerRu}"></header>
<!-- Page Content -->
<div class="container">
    <h1 class="mt-4 mb-3" th:text = "#{cart}">
    </h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" th:text = "#{title}"></th>
                            <th scope="col" th:text = "#{quantity}"></th>
                            <th scope="col" th:text = "#{cost}"></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car:${cart}">
                            <td th:text="${car.type.name_ru}"></td>
                            <td th:text="${car.quantity}"></td>
                            <td th:text="${car.totalPrice}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3">
                    <h5 class="card-title" th:text = "#{deliveryCost}"> </h5>

                    <ul class="list-group">
                        <li class="list-group-item"><h5 th:text="${deliveryCost}"></h5></li>
                    </ul>
                    <h2 class="card-title" th:text = "#{totalCost}"></h2>

                    <ul class="list-group">
                        <li class="list-group-item"><h5 th:text="${order.cost}"></h5></li>
                        <a th:href="@{/order}" class="btn btn-dark" th:text = "#{order}"></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>