<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <header th:insert="~{fragments/head :: head}"></header>
    <title th:text = "#{details}"></title>
</head>
<body>
<!-- Header-->
<header th:insert="~{fragments/header :: header}"></header>
<div class="container py-5">
    <div class="container"><h2 th:text = "#{details}"></h2>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th th:text = "#{orderNumber}"></th>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <th th:text = "#{customer}"></th>
            </div>
            <th th:text = "#{name}"></th>
            <th th:text = "#{address}"></th>
            <th>
                <br th:text = "#{titleAndQuantityAndPrice}">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${selectedOrder.id}"></td>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <td th:text="${selectedOrder.user.email}"></td>
            </div>
            <td th:text="${selectedOrder.name}"></td>
            <td th:text="${selectedOrder.address}"></td>
            <td>
                <table>
                    <tr th:each="item : ${selectedOrder.orderItems}">
                        <td th:text="${item.type.name}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.type.price}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>